<!-- Layout: Appointment Cancellation Email -->
<strong>Hey there, {{ provider }}</strong>
<p>There is an appointement call off, check out the details below:</p>
<p>
  <strong>Client: </strong> {{ user }} <br />
  <strong>Date: </strong> {{ date }} <br />
  <br />
  <small>The time is available to a new appointment!</small>
</p>
